<div id="js-ff-cookie-bar" class="ff-cookie_bar"
        {% if not getDesign('disable') %}
            style="background-color: {{ getDesign('bg_color') }}; color: {{ getDesign('text_color') }}"
        {% endif %}
>
    {# Header #}
    <div class="ff-cookie_bar_header">
        <p>{{ 'cookies_bar.title'|trans({},'GdprBundle') }}</p>
    </div>

    {# Body #}
    <div class="ff-cookie_bar_body">
        <p>
            {{ 'cookies_bar.message'|trans({},'GdprBundle') }}
        </p>
        <p>
            <a href="{{ path('fluffy_gdpr') }}" class="ff-cookie_bar_link">{{ 'cookies_bar.see.more'|trans({},'GdprBundle') }}</a>
            <a href="{{ path('fluffy_gdpr', {'_fragment': 'params'}) }}" class="ff-cookie_bar_link">{{ 'cookies_bar.set.cookies'|trans({},'GdprBundle') }}</a>
        </p>
    </div>

    {# Footer #}
    {% if showBtn('deny') or showBtn('accept') %}
        <div class="ff-cookie_bar_footer">
            {% if showBtn('deny') %}
                <a href="" id="js-ff-cookies-deny" class="ff-cookie_bar_btn deny"
                        {% if not getDesign('disable') %}
                            style="background-color: {{ getDesign('btn_deny_bg_color') }}; color: {{ getDesign('btn_deny_text_color') }}"
                        {% endif %}
                >
                    {{ 'cookies_bar.deny'|trans({},'GdprBundle') }}
                </a>
            {% endif %}
            {% if showBtn('accept') %}
                <a href="" id="js-ff-cookies-allow" class="ff-cookie_bar_btn allow"
                        {% if not getDesign('disable') %}
                            style="background-color: {{ getDesign('btn_allow_bg_color') }}; color: {{ getDesign('btn_allow_text_color') }}"
                        {% endif %}
                >
                    {{ 'cookies.accept'|trans({},'GdprBundle') }}
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>