{% block required_cookies_table %}
    <h2 id="params">{{ 'required_cookies_title'|trans({},'GdprBundle') }}</h2>
    <table>
        <thead>
        <tr>
            <th>{{ 'Cookie_name'|trans({},'GdprBundle') }}</th>
            <th>{{ 'Description'|trans({},'GdprBundle') }}</th>
            <th>{{ 'Details'|trans({},'GdprBundle') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for cookie in required_cookies %}
            <tr>
                <td>{{ cookie.name|trans({},'GdprBundle') }}</td>
                <td>{{ cookie.description|trans({},'GdprBundle') }}</td>
                <td>{{ cookie.detail|trans({},'GdprBundle') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block optionnal_cookies_table %}
    <h2>{{ 'optionnal_cookies_title'|trans({},'GdprBundle') }}</h2>
    {{ form_start(form) }}
    {{ form_row(form) }}
    <button type="submit">{{ 'Accept_cookies'|trans({},'GdprBundle') }}</button>
    {{ form_end(form) }}
{% endblock %}
